* {
    box-sizing: border-box;
  }
.container
 {
    padding: 16px;
    text-align:left;
    margin-top: 20px;
    margin-left: 60%;
    margin-right: 150px;
    margin-bottom: 0;
    background-color:lightblue;
    border: 1px solid white;
  } 
.subcontainer
{
/*border: 1px solid white;*/
padding: 16px;
color:brown;
height: 60%;
}
a
{
color:blue;
padding-left: 50px;

}
a:hover
{
color:darkred;
}
label {
    padding: 4px 2px 2px 0;
    display: inline-block;
    font-family: cursive;
  }
  hr{
    border: 1px solid burlywood;
    margin-bottom: 4px;
  }
  input{
    text-align:left;
    height: 24px;
    width: 100%;   
    padding-left: 10px;
    background:white;
    margin-left: 12px;
    margin-right: 18px;
    border-bottom: 1px;
  }
  .btn {
    /*float: center;*/
    border:none;
    color: darkred;
    margin: 1px 1px;
    text-align:center;
    padding: 12px 20px;
    font-size:16px;
    background-color:darkgray;
    margin-left: 10px;
    margin-right: 100px; 
    margin-top: 30px;   
    width:30%;
    height: auto;    
  }
  .footer
    {
        width: 100%;
        position: fixed;
        text-align: center;        
        background-color:dodgerblue;
        color: white;
        left: auto;
        bottom:0;
    }

    @media screen and (max-width: 600px) {
        .btnCancel, .btnSubmit {
          width: 12%;
        }
      }
